:root {
    --white: #fafafa;
    --black: #3a3a3a;
}

body {
    background-color: white;
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin: 0;
}

.nav-item {
    font-size: 18px;
}

.nav-item > a {
    color: var(--white) !important;
    padding: 4px 14px
}

.nav-item-heavy {
    background-color: var(--white);
    width: fit-content;
}

.nav-item-heavy > a {
    color: var(--black) !important;
}

.logo {
    height: 36vh;
    filter: invert() brightness(100%);
}

.date {
    font-size: 32px;
}

.save {
    font-size: 40px;
}

.mec {
    font-size: 44px;
}

.our {
    font-size: 32px;
}

#section1 {
    color: var(--white);
}

#section1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("images/background.jpeg");
    background-size: cover;
    filter: brightness(0.75);
    z-index: -1;
}

.footer {
    height: 150px;
}

.RSVP {
    background-color: var(--white);
    color: var(--black);
    border: none;
    box-shadow: none;
    font-size: 32px;
}

.chevron {
    width: 35px;
    filter: invert(1);
}

.section-title {
    font-size: 48px;
}

.navbar {
    padding-top: 12px;
}

.navbar-toggler {
    border-color: white;
    border: none;
    padding: 0;
}

.navbar-toggler-icon{
    filter: invert(1) brightness(200);
}

.uitnodiging {
    max-width: 500px;
    font-size: 24px;
}

.vertical-date{
    font-size: 56px;
    line-height: 52px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 60px;
}