@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
    background-image: url('../public/background.jpeg');
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.1);
}

.bg-4 {
    background-color: #E6E9E3;
}

.bg-6 {
    background-color: #E2E5E6;
}

.mb-half {
    margin-bottom: 20%;
}

.font-tenor {
    @apply tracking-wider;
}

.text-stroke {
    color: black;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

body {
    @apply bg-white w-full overflow-x-hidden;
}

.text-title {
    @apply text-lg lg:text-3xl lg:mb-4 mb-2;
}

.text-normal {
    @apply text-sm lg:text-xl;
}

.text-small {
    @apply text-xs lg:text-lg;
}

.custom-button {
    @apply text-gray-500 lg:mt-16 mt-4 border px-4 py-2 text-small hover:bg-gray-100 font-openSans font-normal
}

.container-section {
    @apply lg:py-8 py-4 px-8 flex items-center
    justify-center max-w-[900px] w-full relative;
}