@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
    background-image: url('../public/background.jpeg');
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.1);
}

.bg-beige {
    background-color: #F0ECE0;
}

.mb-half {
    margin-bottom: 25%;
}

.font-tenor {
    @apply tracking-wider;
}

.text-stroke {
    color: black;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    @apply bg-white;
}